@charset "UTF-8";
/* CSS Document */

body {
	color: #0b0b0b;   /* text color for the entire document */
	text-align: center;
	background-color: #e9ddc8;
	font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
}

#wrapper {
	width: 900px;
	margin: 0 auto;  /* centers wrapper */
	text-align: center;
	background-color: #e9ddc8;
}

table {
	margin: 0 auto;  /* centers table */
	background-color: white;  /* sets background color for table cells */
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

tr {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

td {
	background-color: white;  /* sets background color for table cells */
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	border: hidden;
}

h1, h2 {
	text-align: center;  /* centers h1 and h2 content */
}

h2 {
	color:blueviolet;
}

audio {
	width: 200px;  /* sets the width of the audio controls */
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color: #DDC8E9;
	color: black;
}

a:hover {
	font-size: 150%;
	background-color: #5c23b1;
	color: white;	
}